{% extends "base.html" %}
{% block title %} Ex01: Django, framework web. {% endblock %}
{% load static %}
{% block content %} 
    <h1>Django</h1>
    <p>
      <strong>Django</strong> is a high-level Python web framework designed to help
      developers build secure, scalable, and maintainable web applications quickly.
      It follows the <em>Model–Template–View (MTV)</em> architectural pattern.
    </p>
    <p>
      Django was created in <strong>2003</strong> by
      <strong>Adrian Holovaty</strong> and <strong>Simon Willison</strong> while
      working at a newspaper company. It was released as an open-source project in
      <strong>2005</strong> and named after the jazz guitarist
      <strong>Django Reinhardt</strong>.
    </p>

    <p>
      Today, Django is maintained by the <strong>Django Software Foundation</strong>
      and is widely used for building professional web applications.
    </p>
{% endblock %}
