.main {
  display: flex;
  flex-direction: column;
  width: 1735px;
}
.main2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
h4 {
  margin: 0;
  text-align: center;
}
.wrapper {
  border: 1px solid black;
  width: 95px;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.p1 {
  font-size: 15px;
  align-items: flex-start;
  margin: 2px;
}
.p2 {
  text-align: center;
  font-size: 30px;
  margin: 10px;
}